.Tarjetas {
  height: auto;
  width: 100%;
  background-color: #ba0e0e;
}

.card {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  height: 500px;

  overflow: hidden;
}
.card img {
  position: absolute;
  object-fit: cover;
  left: -40%;
}

.card2 {
  position: absolute;
  width: 100%;
  bottom: -50%;
  height: 100%;
  background-color: white;
  transform: skew(0deg, 10deg) translateY(40px);
}
.contenido {
  margin-top: 10%;
  transform: skew(0deg, -10deg);
  font-size: 3rem;
  font-family: "Bebas Neue", cursive;
}
.boton{
  padding: 10px;
  font-size: 130px;
  position: absolute;
  background-color: #ba0e0e;
  z-index: 1000;
  transform: scale(0.5,0.35) translateY(80px);
}
