* {

  padding: 0;
  margin: 0;
  font-family: "Titillium Web", serif;
  font-weight: bold;
}

/* FUENTES */
@font-face {

  font-family: "F1-bold";
  src: url(rsc/fonts/F1\ -\ BOLD.woff2) format("woff2"),
    url(rsc/fonts/F1\ -\ BOLD.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {

  font-family: "F1-regular";
  src: url(rsc/fonts/F1\ -\ REGULAR.woff2) format("woff2"),
    url(rsc/fonts/F1\ -\ REGULAR.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {

  font-family: "F1-wide";
  src: url(rsc/fonts/F1\ -\ WIDE.woff2) format("woff2"),
    url(rsc/fonts/F1\ -\ WIDE.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

/**/
ul {

  list-style: none;
  text-align: center;
  padding: 0;
}

h1 {

  font-size: clamp(2rem, 2.5vw, 3rem); 
  font-weight: 700;
  text-align: center;
}

hr {
  opacity: 1;
}

a, a:hover {
  
  text-decoration: none;
  color: white;
}

/* ---------- BARRA ---------- */
#barra {

  background-color: #ba0e0e;  
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1%;
  display: none;
  width: 130px;
  /* transform-origin: left;
  animation: slide 2s; */
}

.nav-option {

  color: white;
  font-weight: 500;
  margin-bottom: 30%;
  text-align: center;
}

.nav-option:hover, .desq-app {

  color: white;
}

/* @keyframes slide {


  0% {
    left: 0
  }
  100% {
    left: 100px;
  }
} */

.desq-app {

  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.dwn {

  margin: 3%;
}

#hamburger-icon {

  position: fixed;
  top: 28px;
  left: 25px;
  height: 27px;
  width: 50px;
  cursor: pointer;
  display: block;
  transition: all 1s cubic-bezier(.19, 1, .22, 1);
  z-index: 5;
}

#hamburger-icon .line {

  position: absolute;
  display: block;
  background: rgb(255, 0, 0);
  width: 22px;
  height: 2px;
  left: 0;
  transition: all 0.6s cubic-bezier(.5, .1, 0, 1.2);
  -webkit-transition: all 0.6s cubic-bezier(.5, .1, 0, 1.2);
  -moz-transition: all 0.6s cubic-bezier(.5, .1, 0, 1.2);
}

#hamburger-icon .line.line-1 { top: 0px; }
#hamburger-icon .line.line-2 { top: 7px; }
#hamburger-icon .line.line-3 { top: 14px; }



#hamburger-icon.active .line-1 {
  transform: translateY(7px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
  -moz-transform: translateY(7px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 { opacity: 0; }

#hamburger-icon.active .line-3 {
  transform: translateY(-7px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgb(12, 12, 12);
  position: fixed;
  z-index: 2;
}

.menu-chico {

  padding: 5%;
  padding-top: 10%;
}

.menu-chico .nav-item {

  font-size: 28pt;
  text-align: left;
  margin: 10%;
}


/* ---------- VIDEO INICIO ---------- */

#video-inicio {

  background-image: url(https://media.giphy.com/media/Me61fl1yXTzrSwFKDo/giphy-downsized-large.gif);
  background-color: lightpink;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 1;
  opacity: 0.3;
  max-width: 100%;
  max-height: 100%;
}

#overlay {

  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  padding: 0;
}

#cont-banner {

  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100vh;
  top: 3%
}

.btn-dwn-app {

  background-color: #ba0e0e;
  color: white;
  border: none;
  padding: 2%;
  margin: 10% auto;
  font-weight: 500;
  border-radius: 20px;
  width: 50%;
}

.cont-text-flecha {

  margin-top: 5%;
  color: white;
  text-align: center;
  opacity: 0.7;
}

.cont-text-flecha p {
  
  font-weight: 500;
}

.arrow {

  opacity: 0.5;
  width: 25px;
  fill: white;
  animation: bajar_flecha 2s 20;
  animation-direction: alternate-reverse;
  position: relative;
}

@keyframes bajar_flecha {

  0% {
    top:0;
    opacity: 0.1;
  }
  100% {
    top: 50px;
    opacity: 1;
  }
  
}

/* ---------- CUENTA REGRESIVA ---------- */

#cuenta-regresiva {
  margin: 8% 0 5% 0;
  text-align: center;
}

.c-regresiva {
  margin: 6% 0 6% 0;
}

.sep {
  height: 2px;
  color: red;
}

.sep-titulo {
  width: 25%;
}
.sep-final {
  width: 100%;
}

.typo {

  font-size: clamp(3rem, 5vw, 20rem);
  font-family: "F1-bold";
}

.elem-momento {
  margin: 0;
}

/* ---------- FECHAS ---------- */

#fechas {
  margin: 10% 0 5% 0;
}

#tit-fechas {

  margin-bottom: 10%;
}

.dia {

  background: linear-gradient(135deg, #ffffff 0%, #eaeaea 100%);
  box-shadow: -8px 8px 16px rgba(176, 176, 176, 0.2),
    8px -8px 16px rgba(176, 176, 176, 0.2),
    -8px -8px 16px rgba(255, 255, 255, 0.9),
    8px 8px 20px rgba(176, 176, 176, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(176, 176, 176, 0.5);
  border-radius: 10px;
  margin-bottom: 10%;
}

.dia p {
  
  margin-bottom: 0;
}

.num-dia {

  font-size: 50px;
  text-align: center;
}

.sep-large-fecha {

  width: 2px;
  height: 55px;
  color: #ba0e0e;
  margin-left: 3%;
}

.info-dia {

  font-size: clamp(18px, 2vw, 20px)
}

.mes-vertical {

  margin: 0;
  text-align: center;
  writing-mode: vertical-lr;
  font-size: 25px;
  transform: rotate(180deg);
}

.dia-carrera {
  
  font-size: 25px;
}

.sep-fecha {

  height: 1px;
  width: 100%;
  color: #ba0e0e;
}

.card-chica-fecha {

  text-align: center;
}


@media (max-width: 750px) {
  .dia {
    padding: 5%;
  }
  .dia-carrera {
    text-align: center;
  }
}

/* ---------- SINTONIZACIÓN ---------- */

#sintonizacion {
  color: white;
  text-align: center;
}

#sint {
  background-color: #ba0e0e;
  transform: skewX(-20deg);
}

#tit-sint {
  transform: skewX(20deg);
  margin: 1%;
}

#emisoras {
  margin: 5% 0 10% 0;
}

/* ---------- VOTACIÓN ---------- */

#votacion {
  
  margin: 10% 0 10% 0;
  text-align: center;
  color: white;
  background-color: #1a1919;
  height: 100vh;
  padding: 3% 0 3% 0;
}

.vot-tit {

  width: 40%;
  margin: 3%;
}

.vot-cards {

  width: 60%;  
  margin: 3% 3% 3% 0;
  height: 100%;
}

#card-lewis, #card-max {

  width: 100%;
  height: 50%;
} 

#card-lewis h1, #card-max h1 {

  font-size: clamp(1.5rem, 4vw, 6rem);
  color: white;
  display: none;
}

#card-lewis {

  background: red;
  background-image: url(rsc/img/hamilton.jpg);
  background-size: cover;
  background-position: center;
}

#card-max {

  background: red;
  background-image: url(rsc/img/Max-Verstappen-1.jpg);
  background-size: cover;
  background-position: center;
}

#card-lewis:hover {

  background-size: 110%;
  background: linear-gradient(to top, #389dbc8a, #202727a9), url(rsc/img/hamilton.jpg)  center;
}

#card-max:hover {
  background-size: 110%;
  background: linear-gradient(to top, #df695498, #19191979), url(rsc/img/Max-Verstappen-1.jpg)  center;
}

#card-lewis:hover h1, #card-max:hover h1 {

  display: block;
}

#voto-hecho {

  height: 50%;
  margin-top: 5%;
  padding: 4%;
  border-radius: 50px;
  background: linear-gradient(145deg, #1c1b1b, #171717);
  box-shadow:  27px 27px 54px #0e0d0d,
               -27px -27px 54px #262525;
}

.num-vot {
  font-size: clamp(50px, 10vw, 200px);
}

#voto-hecho h4 {

  font-size: clamp(15px, 2vw, 60px);
}
/* ---------- NEXT SEASON ---------- */

#prox-temp {

  padding: 5%;
  margin-bottom: 7%;
  height: 800px;
}

.fondo-auto {

  background-image: url(rsc/img/F1\ 2022.jpg);
  background-size: cover;
  margin-top: 7%;
  border-radius: 10px;
}



/* ---------- TICKETS ---------- */

#tickets {

  background-image: url(rsc/img/F1-Abu-Dhabi.jpg);
  color: white;
  backdrop-filter: opacity(80%);
  background-size: cover;
  background-position-y: -25px;
  background-position-x: center;
  margin: 10% 2% 10% 2%;
  padding: 4%;
  border-radius: 10px;
}

.ticket-dia {

  padding: 2%;
  margin: 3%;
  text-align: center;
  background: rgba(153, 153, 153, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.ticket-dia p {

  font-size: 14pt;
  font-weight: 500;
}

.btn-buy {

  margin: 10% 0 8% 0;
  padding: 3%;
  width: 60%;
  font-weight: 500;
  color: white;
  background: rgba(255, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: none;

}

.btn-buy:hover {

  transform: scale(1.1);
	transition: all 300ms ease-in-out;
}

/* ---------- SPONOSNRS ---------- */

#sponsors {

  margin: 10% 5% 10% 5%;
}

#sponsors h1 {

  margin-bottom: 3%;
}
.carousel__contenedor {

  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: #ba0e0e;
  z-index: 10000;
}

.carousel__siguiente {

  right: -10px;
}

.carousel__lista {

  height: 200px;
}

.carousel__elemento {

  text-align: center;
  font-size: 50px;
  margin: auto;
}

/* ---------- FOOTER ---------- */

footer {
  background-color: black;
  color: white;
}

#cont-footer {

  padding: 7%;
}

.col-footer h3 {

  font-weight: 600;
}

.col-footer h5 {

  font-weight: bold;
}

#sep-footer {

  height: 1px;
  border-color: white;
  opacity: 0.8;
  margin-top: 4%;
}

.desc-buttons img {

  margin: 3%;
  margin-left: 10%;
}

.p-fecha {

  text-indent: 10%;
  font-weight: 400;
}

.foot-fecha {

  margin-left: 10%
}

#sep-horizontal {

  margin: 8% 0 3% 0;
}

#redes {

  width: 100%;
  margin-top: 8%;
  padding: 2%;
}

#redes img {
  
  padding: 2%;
}
